{% extends 'mantenedor/index.html' %}
{% load static %}
{% block content %}
    {# Cargamos la librería #}
    {% load bootstrap4 %}
 
   
  

	{# Widget Tweaks #}
    {% load widget_tweaks %}

    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          <div class="box-header">
            <head>
                 
              <meta charset="utf-8">
              <meta name="viewport" content="width=device-width, initial-scale=1">
              <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
              
              <style>
                /* Remove the jumbotron's default bottom margin */ 
                 .jumbotron {
                  margin-bottom: 0;
                }
              
              </style>
            </head>
            <body>
            
            <div class="jumbotron" style="background-color: #272c2f;">
              <div class="container text-center">
                <h1 style="color:rgb(255, 255, 255);">Actualizar Personas</h1>     
              </div>
            </div>
              <br>
              <nav aria-label="breadcrumb mb-3">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../">Personas</a></li>
                    <li class="breadcrumb-item active">Actualizar Personas</li>
                </ol>
              </nav>
        

          <div class="row mb-5">
            <div class="col-md-10">
              <div class="table-responsive">
                <div class="formulario" align="left">

                	<h4>Actualizar</h4>

        					<form method="post" enctype="multipart/form-data">
        					{% csrf_token %}
        						<!-- {{ form.as_p }} -->
        						<div class="form-group">
        						    <label for="rut" class="txt_negrita">Rut</label>
        						    {{ form.rut|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                      <label for="dv" class="txt_negrita">Dv</label>
                      {{ form.dv|add_class:"form-control" }}
                  </div>
        						<div class="form-group">
        						    <label for="nombre" class="txt_negrita">Nombre</label>
        						    {{ form.nombre|add_class:"form-control" }}
        						</div>
        						<div class="form-group">
        						    <label for="papellido" class="txt_negrita">Apellido Paterno</label>
        						    {{ form.papellido|add_class:"form-control" }}
                    </div>
                    <div class="form-group">
                      <label for="sapellido" class="txt_negrita">Apellido Materno</label>
                      {{ form.sapellido|add_class:"form-control" }}
                  </div>
                  <div class="form-group">
                    <label for="contacto" class="txt_negrita">Contacto</label>
                    {{ form.contacto|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="email" class="txt_negrita">Email</label>
                  {{ form.email|add_class:"form-control" }}
              </div>
        					
        						<button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="../" type="submit" class="btn btn-primary">Volver</a>
        					</form>

                </div>
                
              </div>

            </div>

          </div>          

          <hr>

         

                  
          
             




  

      {# JS y jQuery Bootstrap #}
      {% bootstrap_javascript jquery='full' %} 

      <script type="text/javascript">
        $('.form-group').html(function (i, t) {
          return t.replace('Actualmente:', '<span class="ocultar">Actualmente:</span>');
        });

         $('.form-group').html(function (i, t) {
          return t.replace('Currently:', '<span class="ocultar">Currently:</span>');
        });
      </script>   
      
      
    </div>
 
  </div>
</div>
</div>
</section> 
    
      {% endblock %}
   

     