{% extends 'mantenedor/index.html' %}
    {% load static %}
    {% block content %}

        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
              <div class="box-header">

  
 <!--BARRA DE NAVEGACION-->
  
  <!--Parallax-->
  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'imagenes/1.jpg'%}"></div>
  </div>



  <div class="container section">
    <div class="row">

      <div class="col s4">
        <div class="card">

          <div class="card-image">
            <img src="{% static 'imagenes/cafe2.jpg'%}" alt="">
          </div>

          <div class="card-content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Aperiam incidunt rerum quisquam eos, molestiae adipisci sint,
              possimus aliquid dolore explicabo alias? Quae quisquam dolorem
              tempora dolorum quas accusantium eveniet animi.</p>
          </div>

          <div class="card-action">
            <a href="#">Enlace</a>

          </div>

        </div>
      </div>
      <div class="col s4">
        <div class="card">

          <div class="card-image">
            <img src="{% static 'imagenes/cafe4.jpg'%}" alt="">
          </div>

          <div class="card-content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Aperiam incidunt rerum quisquam eos, molestiae adipisci sint,
              possimus aliquid dolore explicabo alias? Quae quisquam dolorem
              tempora dolorum quas accusantium eveniet animi.</p>
          </div>

          <div class="card-action">
            <a href="#">Enlace</a>

          </div>

        </div>
      </div>

      <div class="col s4">
        <div class="card">

          <div class="card-image">
            <img src="{% static 'imagenes/cafe3.jpg'%}" alt="">
          </div>

          <div class="card-content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Aperiam incidunt rerum quisquam eos, molestiae adipisci sint,
              possimus aliquid dolore explicabo alias? Quae quisquam dolorem
              tempora dolorum quas accusantium eveniet animi.</p>
          </div>

          <div class="card-action">
            <a href="#">Enlace</a>

          </div>

        </div>
      </div>

    </div>
  </div>




  <div class="parallax-container">
    <div class="parallax"><img src="{% static 'imagenes/3.jpg'%}"></div>
  </div>





  <footer class="page-footer brown lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Coffe Time</h5>
          <p class="grey-text text-lighten-4">Es un local chiquito que existe hace seis años, algo escondido, pero con
            una linda terraza
            y —lo mejor de todo— buen café de especialidad y pasteles deliciosos,
            incluidas opciones para veganos.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 Pimpinelas
        <a class="grey-text text-lighten-4 right" href="#!">Más Links</a>
      </div>
    </div>
  </footer>

  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="{% static 'js/materialize.min.js'%}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.parallax');
      var instances = M.Parallax.init(elems);
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems);
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>


</div>
</div>
</div>
</section> 
{% endblock %}
