<!DOCTYPE html>
<html lang="es">
<head>
  <title>Cafeteria</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
           <li class="nav-item dropdown">
            <li><a href="/postresInicio">Catalogo de Productos</a></li>
        <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/postresInicio">Postres</a>
          <a class="dropdown-item" href="/tortasInicio">Tortas</a>
          <a class="dropdown-item" href="/heladosInicio">Helados</a>
         
        </div>-->
      </li>
        <li><a href="/nosotrosInicio">Nosotros</a></li>
        <li><a href="/carrito">Haz tu Pedido</a></li>
        
        
        {% if not request.user.is_authenticated %}
        <a href="/registro" class="btn btn-danger float-right">Registrate</a>
        <a href="/accounts/login" class="btn btn-danger float-left">Inicia Sesión</a>
        {% endif %}
        

        {% if user.is_authenticated %}
        <li><a href="#">Bienvenido @{{ user.username }}</a></li>
        <li><a href="{% url 'logout' %}">Cerrar Sesión</a></li>
        {% endif %}
      </ul>
     
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://i.pinimg.com/originals/82/93/95/82939511ac062131e23cdf1ae70af017.png" alt="Image">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>      
      </div>

      <div class="item">
        <img src="https://feztiva.com/wp-content/uploads/2020/05/interna1-feliz.png" alt="Image">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>      
      </div>

      <div class="item">
        <img src="https://www.yesireland.ie/wp-content/uploads/2020/05/coffee-3120758_1280-1-900x400.jpg" alt="Image">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only"></span>
    </a>
</div>
	<br>
	<br>
 
<div class="container text-center">    
  <h3>Un poco de Historia</h3><br>
  <div class="row">
    <div class="col-sm-3">
      <img src="https://www.thinkingbusinessblog.com/wp-content/uploads/2018/05/newsletter-760x570.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>Café expreso (también llamado café exprés, express, espresso o solo) es una forma de preparación de café originada en Italia. Debe su término a la obtención de esta bebida a través de una cafetera expreso. Se caracteriza por su rápida preparación y por un sabor y textura más concentrados.</p>
    </div>
    <div class="col-sm-3"> 
      <img src="https://www.betteryoumag.com/resizer/UJ7Z4_yxMSqbrmywx9NoK0qPo54=/760x570/cloudfront-us-east-1.images.arcpublishing.com/bonnier/55EHNE6GSFCAZFO3R5QMVY2S3U.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p>capuchino (del italiano cappuccino) es una bebida nacida en Italia, preparada con café expreso y leche montada con vapor para otorgarle cremosidad. Un capuchino se compone de 125 ml de leche y 25 ml de café expreso, en ocasiones se agrega cacao en polvo o canela según el gusto del consumidor.</p>    
    </div>
     <div class="col-sm-3"> 
      <img src="https://www.dinastia12.com/wp-content/uploads/2017/12/accesorios-para-cafeteria-mexico-tips-para-elegir-bien-760x570.jpg" class="img-responsive" style="width:100%" alt="Image">
      <p> Ristretto es un café expreso corto hecho con una cantidad normal de café molido, pero extraído con la mitad de agua.1​Debido a que los ristrettos son esencialmente la primera mitad de una extracción completa, los compuestos predominantes en un ristretto son aquellos que se extraen de forma más rápida.</p>    
    </div>
    <div class="col-sm-3"> 
      <img src="https://www.saveur.com/resizer/CXNbEFUA8jm80bH2GzHK-W6EBxU=/760x570/arc-anglerfish-arc2-prod-bonnier.s3.amazonaws.com/public/EBN3QW3ZMPDNLPEGT7AZPI4IY4.jpg" style="width:100%" alt="Image">
      <p><strong>Café latte</strong> es el hermano mayor del capuchino, donde todo gira en torno a la espuma suave y sedosa. Normalmente, el café latte se prepara con una o dos dosis de expreso (1/3 de la bebida) y 2/3 de leche calentada con vapor, con una pequeña capa (alrededor de 1 cm) de espuma de leche.</p>    
    </div>
   
   
  </div>
</div><br>

<!-- Footer -->
<footer class="page-footer font-small mdb-color darken-3 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row d-flex justify-content-center">

      <!--Grid column-->
      <div class="col-md-4">

        <!-- Video -->
        <div class="embed-responsive embed-responsive-16by9 mb-4">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/B1yJuGQOUaY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>
      <!--Grid column-->
      <div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-8 text-left"> 
      <h1>Arte Latte</h1>
      <p>El arte latte tiene varios nombres como: arte en café, arte barista o diseños en café, sin embargo el nombre más común es arte latte.
		Pero ¿qué es? Se trata de dibujar son la leche sobre el café espresso, con 2 técnicas fundamentales: caída libre o etching (grabado).
		Todo empieza cuando vaporizas o cremas la leche y la viertes sobre el espresso a manera de crear diseños sobre el café. Se puede hacer con chocolate, colorantes, o sólo con la leche.</p>
      <hr>
    </div>
</div>
    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> Cafeteria</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>